:root {
    --bead-color: #d9dbdd;
    --bead-size: 50px;
    --bead-horizontal-gap: 10px;
    --bead-letter-size: 1.25rem;
    --bead-vertical-gap: 15px;
    --visible-beads: 5;
    --max-per-row: 7;
    --visible-width: calc(var(--bead-size) * var(--visible-beads) + var(--bead-horizontal-gap) * (var(--visible-beads) - 1));
    --fade-width: 25px;
}
body {

    overscroll-behavior: none !important;
}

@media screen and (max-width: 550px) {
    :root {
        --bead-size: 40px;
        --bead-horizontal-gap: 10px;
        --bead-vertical-gap: 10px;
        --bead-letter-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --bead-size: 35px;
        --bead-horizontal-gap: 5px;
        --bead-vertical-gap: 10px;
        --bead-letter-size: 1rem;
    }
}

.spread {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.todays-theme {
    text-align: center;
    font-family: "Geist Mono", monospace;
    transition: 0.2s opacity;
}

.points-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-family: "Geist Mono", monospace;
}
.points-bar .points, .points-bar .elapsed{
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.points {
    justify-content: flex-start !important;
}
.elapsed {
    justify-content: flex-end !important;
}

.points-bar .bar {
    width: 100%;
    height: 10px;
    border: 1px solid var(--outline);
    background: var(--raised-surface);
    overflow: hidden;
    border-radius: 500px;
}

.points-bar .bar .progress {
    height: 100%;
    background: var(--gold);
    transition: width 0.2s;
}

.theme-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    height:50px;
    font-family: "Nunito", monospace;
    position: relative;
}
.theme-bar .theme {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    font-size: 30px;
    height: 100%;
}

.word-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    min-height: 35px;
    width: 100%;
    height: 100%;
    transition: 0.2s background .2s;
    z-index: 1
}
.correct-word {
    font-size: 1.5rem;
    font-family: "Nunito";
    text-transform: uppercase;
    font-weight: 800;
    opacity: 1;
    transition: opacity 0.2s;
    opacity: 1;
    animation: awarded-points 0.2s cubic-bezier(0,1.37,.61,2.06); 
}

.awarded-points {
    font-size: 1.25rem;
    font-family: "Nunito";
    color: rgb(183, 183, 196);
    font-weight: bold;
    animation-delay: 0.2s;
    transition: opacity 0.2s;
    animation: awarded-points 0.2s cubic-bezier(0,1.37,.61,2.06) 0.2s 1 backwards; 
}

.fade-out {
    opacity: 0;
}

@keyframes awarded-points {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.5) rotate(10deg);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1) rotate(0deg);
    }
}


.game-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}

.game-and-words {
    position: relative;
}
.top-details {
    position: relative;
}
.bg-in {
    background: var(--body-background);
    transition-delay: 0s;
    transition: 0.05s background 0s
}

.content {
    position: relative;
    height: fit-content;
    width: fit-content;
    padding: 0 var(--bead-size);
    user-select: none;
    touch-action: none;
}
.found-words {
    position: absolute;
    background: var(--raised-surface);
    border: 1px solid var(--outline);
    border-radius: 10px;
    top:0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    align-content: start;
    align-self: flex-start;
    flex-wrap: nowrap;
    padding: 40px 30px;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 20px);
    z-index: 10;
    opacity: 0;
    transition: 0.2s opacity;
    pointer-events: none;
    overflow-y: auto;
    user-select: none;
    gap: 4px;
}
.how-to-play {
    position: absolute;
    background: var(--raised-surface);
    border: 1px solid var(--outline);
    border-radius: 10px;
    top:0;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 20px);
    z-index: 100;
    opacity: 0;
    padding: 0 20px;
    transition: 0.2s opacity;
    pointer-events: none;
    overflow-y: auto;
    user-select: none;
    gap: 4px;
}
.how-to-play h3 {
    text-align: center;
    font-weight: 400;
    font-size: 1.25rem;
    width: 100%;
}
.how-to-play .divider {
    width: 20%;
    height: 1px;
    background: var(--outline);
    margin: 20px auto;
}
.how-to-play p {
    width: 100%;
    font-family: "Inter" !important;
    text-align: center;
    font-weight: 400;
    text-transform: unset;
}

#found-word-container {
    display: flex;
    justify-content: center;
    align-items: start;
    align-content: start;
    align-self: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 8px;
    width: 100%;
    height: 120px;
    flex-shrink: 1;
    z-index: 10;
    pointer-events: none;
    overflow-y: auto;
    user-select: none;
}
#found-hint-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
    align-self: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    flex-shrink: 1;
    z-index: 10;
    pointer-events: none;
    overflow-y: auto;
    user-select: none;
    gap: 4px;
}

#found-hint-container p {
    width: 100%;
    font-family: "Inter" !important;
    text-align: center;
    font-weight: 400;
    text-transform: unset;
}
.found-words p {
    font-family: "Nunito";
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
}
.found-words.visible, .how-to-play.visible {
    opacity: 1;
    pointer-events: all;
    user-select: text;
}

#row-fade-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--bead-vertical-gap);
    width: calc(var(--visible-width) + var(--fade-width) * 2);
    mask-image: linear-gradient(to right, transparent, #0007 var(--fade-width), #0007 calc(50% - 40px - (var(--bead-size) / 2)), black calc(50% - (var(--bead-size) / 2)), black calc(50% + (var(--bead-size) / 2)), #0007 calc(50% + 40px + (var(--bead-size) / 2)), #0007 calc(100% - var(--fade-width)), transparent 100%);
    padding: 20px 0;
    position: relative;
    margin-bottom: 20px;
    background: linear-gradient(to bottom, var(--body-background) 5px, transparent 20px, transparent calc(100% - 20px), var(--body-background) calc(100% - 5px)), linear-gradient(to right, transparent 0%, transparent calc(50% - 2px), var(--raised-surface-heavy) calc(50% - 2px), var(--raised-surface-heavy) calc(50% + 2px), transparent calc(50% + 2px));
}

#left-buttons,
#right-buttons {
    position: absolute;
    height: 100%;
    width: var(--bead-size);
    display: flex;
    justify-content: center;
    gap: var(--bead-vertical-gap);
    align-items: center;
    flex-direction: column;
    top: 0;
    z-index: 1;
}

#left-buttons button,
#right-buttons button {
    background: transparent;
    color: rgb(183, 183, 196);
    border: none;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: var(--bead-size);
    width: var(--bead-size);
    transition: 0.12s;
}

#left-buttons button:hover,
#right-buttons button:hover {
    background: var(--button-bg);
    color: var(--button-text);
}

#left-buttons button:disabled,
#right-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#left-buttons {
    left: 0;
}

#right-buttons {
    right: 0;
}

.row-wrapper {
    background: linear-gradient(to bottom, transparent 0%, transparent calc(50% - 2px), var(--raised-surface-heavy) calc(50% - 2px), var(--raised-surface-heavy) calc(50% + 2px), transparent calc(50% + 2px));
    width: 100%;
    cursor: grab;
    touch-action: pan-x;
}

.row-wrapper:active {
    cursor: grabbing;
}

.row-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--bead-horizontal-gap);
    pointer-events: none;
    user-select: none;
}

.letter {
    flex-shrink: 0;
    background: var(--body-background);
    border: 2px solid var(--raised-surface);
    box-sizing: border-box;
    border-radius: 100%;
    width: var(--bead-size);
    height: var(--bead-size);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: var(--bead-letter-size);
    font-weight: 800;
    transform: scale(1);
    transition: 0.2s background, 0.2s  transform, 0.2s color, 0.2s border;
    transition-timing-function: ease-in-out;
    font-family: "Nunito";
}

.letter-hide-letter {
    color: transparent;
}

.letter-correct {
    transform: scale(1.2);
    background: var(--gold);
    border: 2px solid transparent;
    color: black;
}
.letter-correct-hint {
    transform: scale(1.2);
    background: var(--raised-surface);
    color: black;

}

@keyframes letter-correct {
    0% {
        transform: scale(1);
        background: var(--outline);
    }

    100% {
        transform: scale(1.2);
        background: var(--gold);
    }
}

.game-splash-wrapper {
    color: black;
    background: var(--gold)
}


.history-stats {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    padding: 0 !important;
    justify-content: center;
    align-items: flex-start;
}

.history-stats .stat {
    width: initial;
}


.found-words h2 {
    font-family: "Nunito";
    font-weight: 800;
    text-transform: uppercase;
    margin: 0;
    font-size: 1.25rem;
    width: 100%;
}

#modal-title {
    margin-bottom :0;
}

.modal-content h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
    padding: 0 30px;
    word-wrap: break-word;
}

.modal-content .flex-hor {
    margin-bottom: 20px;
}

a {
    color: unset;
    text-decoration: unset;
}
a:hover {
    color: var(--cardinal)
}
#hint-button {
    --hint-count: 0;
    position: relative;
    overflow: hidden;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 10'%3E%3Crect width='1' height='10' fill='%23FFCC00'/%3E%3C/svg%3E");
    background-size: calc(var(--hint-count) / 3 * 100%);
    background-repeat: no-repeat;
    background-position: left;
    transition: background-size 0.2s, opacity 0.2s;
}

#hint-button:disabled {
    color: var(--button-text);
    opacity: 0.5;
}